
nav{
    font-family: 'Lato', sans-serif;
    background-color: #424242;
    width: 100%;
}
.logo{
    font-family: 'Lato', sans-serif;
    color:#fff;
    font-size: 1.5em;
}
ul.nav a{

}
ul.nav a:hover{
    
}
ul.nav a:active{
    background-color: #616161;
}