#search-container{
    margin-top: 20%;
}
.search{
    height: 70px;
    max-height: 70px;
    font-size: 3.5em;
    
}
.avatar{
    margin-bottom: 7px;
    height: 40px;
    width: 40px;
}
.searchButton{
    background-color: #ca1740;
    color: #fff;
    margin-top: 20px;
}
.image-container{
    width: 300px;
    min-height: 100px;
    max-width: 300px;
    margin: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
.results{
    padding: 8px;
    margin-bottom: 12px;
}