<div class="header">
    
      <div class="titleHeader">
        <br />
        <a id="pageTitle">Enquire</a>
        <br />
        <br />
        <button type="button" class="homepageButton" routerLink="..">Current Sponsors</button>
        <br />
      </div>
      
</div>

<div class="container border">
<div *ngIf="!Name; else forminfo">
  <h1 style="text-align:center">Submit an Enquiry </h1>
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Name</span>
        <input type="text" formControlName="name" class="form-control" placeholder="Contact Name: Required" aria-describedby="sizing-addon1">
      </div>
      <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{namealert}}</div>
      <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Email</span>
          <input type="text" formControlName="email" class="form-control" placeholder="Email Address: Required" aria-describedby="sizing-addon1">
      </div>
      <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{emailalert}}</div>
      <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Organization</span>
          <input type="text" formControlName="company" class="form-control" placeholder="Organization: Required" aria-describedby="sizing-addon1">
      </div>
      <div class="alert" *ngIf="!rForm.controls['company'].valid && rForm.controls['company'].touched">{{companyalert}}</div>
      <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Phone</span>
          <input type="text" formControlName="phone" class="form-control" placeholder="Phone Number: Optional" aria-describedby="sizing-addon1">
      </div>
      <h3>Click to Select an Award Below OR</h3>
      <input type="checkbox" class="cb" formControlName="selfselect" value="1">
      &nbsp;&nbsp;Enter your own award suggestion
      <div *ngIf="manual">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Award</span> 
            <input type="text" [(ngModel)]="AwardName" formControlName="awardname" class="form-control" placeholder="Award Name: Optional" aria-describedby="sizing-addon1">
        </div>
      </div>
      <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Comments</span> 
          <input type="text" formControlName="comments" class="form-control" placeholder="Comments: Optional" aria-describedby="sizing-addon1">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">
  </form>
</div>
</div>
<ng-template #forminfo>
  <div class="border" >
    <h3 style="color:red;text-align:center;"> Thank You for your Enquiry </h3>
      <h1 style="text-align:center">{{ Name}} </h1>
      <h4 style="text-align:center">{{ Email }} </h4>
      <h4 style="text-align:center"> {{ Company }}</h4>
      <h4 style="text-align:center"> {{ AwardName }}</h4>
      <h3 style="color:red;text-align:center;"> We will Email you to discuss the details of your enquiry </h3>
  </div>
</ng-template>

<hr class="line">

  <div *ngIf="searching">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
  </div>
  
  <md-card>
    <h4 *ngIf="sponsorsFound" md-subeader>Click an Award to add to Inquiry</h4>
    <masonry [useImagesLoaded]="true">
      <masonry-brick *ngFor="let award of potential" >   
        <div *ngIf="award.NeedsSponsor == true">
          <md-card (click)="setAward(award)" class="image-container">
            <md-card-header>
                <img src="../assets/images/aut_logo.png" style="width:100px;height:80px;">
            <md-card-title style="color:red;">Award Status: AVAILABLE FOR SPONSORSHIP</md-card-title>
            </md-card-header>
            <md-card-content>
              <h3>{{award.AwardName}}</h3>
              <p>{{award.AwardDate}}</p>
              <p>{{award.AwardDegreeLevel}}</p>
              <p>{{award.AwardDegree}}</p>
              <p>{{award.AwardBlurb}}</p>
            </md-card-content>
          </md-card>
          <br><br>
        </div>
      </masonry-brick>
    </masonry>
  </md-card> 