.image-container {
	width: 300px;
	min-height: 400px;
	height:auto;
	background-color: white;
	box-shadow: #555 1px 1px 8px 1px;
	overflow: auto;
	margin: 30px;
	overflow-x: hidden;
}

.sponsorCard {
	width: 300px;
	text-align: center;
}

.awardCard {
    margin:10%;
    align-content: center;
}

.headerImage {
    width: 100%;
}

.sponsorImage {
	max-width: 100%;
	max-height: 100px;
}

p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0px;
}

p.awardName {
	margin-top: 0px;
	color: #F07D00;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}

p.awardBlurb {
	color: black;
	font-size: 16px;
	text-align: center;
}

.selectButton {
	margin: auto;
	margin-top: 25px;
	height: 40px;
	padding: 10px 20px 10px 20px;
	background-color: #f07d00;
	color: white;
	border: 0;
	text-transform: uppercase;
}

.selectButton:hover {
	background-color: white;
	color: #f07d00;
	border: 1px solid #f07d00;
}

p.formTitle {
    margin-bottom: 20px;
	color: black;
    font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
    text-align: center;
}

p.formSubtitle {
	color: #F07D00;
    font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

p.formSubtitle2 {
	display: inline;
	color: #F07D00;
    font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.formSubtitle3 {
    font-family: 'Open Sans', sans-serif;
	color: #F07D00;
    font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}

.formContainer {
    margin: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px 40px 40px 40px;
    border: 2px solid #D5D5D5;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
}

.line{
    margin: 0px;
    border: 4px solid #eee;
    box-shadow: #555 0px 0px 8px 0px;
}
/* reactive form css */
.form-container {
    width:90%;
    padding:2em;
    margin: 2em auto;
    background:#fff;
}

.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}
#name{
    width: 100%;
}
.input-group{
    margin-bottom: 10px;
}
input[type=checkbox]{
    transform: scale(2);
    margin-bottom: 20px;
    margin-left: 10px;
}
input[type=text]{
    z-index: 0;
}

.input-group-addon {
	font-family: 'Open Sans', sans-serif;
	color: #262626;
	font-size: 16px;
	font-weight: bold;
}

input::placeholder {
	opacity: 0.5;
	font-size: 15px;
}

.frontImage {
	width: 300px;
}

p.submitThanks {
	margin-top: 20px;
    margin-bottom: 20px;
	color: #DBA449;
    font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
    text-align: center;
}

p.submitName {
	margin-top: 25px;
	color: black;
	font-size: 22px;
	text-align: center;
}

p.submitMessage {
	margin-top: 20px;
    margin-bottom: 20px;
	color: #DBA449;
    font-size: 28px;
	font-weight: bold;
    text-align: center;
}


@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 415px){
    .border{
        margin-left: 0;
    }
}


.titleHeader {
	text-align: center;
	position: relative;
}

#pageTitle {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 110px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #A97E37 4px 3px 0;
	position: relative;
}

.homepageButton {
	margin: 10px;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	background: #DBA449;
	padding: 10px 24px 10px 24px;
	border: solid #A97E37 2px;
	text-decoration: none;
}

.homepageButton:hover {
	background: #f07d00;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	border: solid #f07d00 2px;
	text-decoration: none;
}

@media screen and (max-width: 426px){
	#pageTitle{
		font-size: 290%
	}
	#pageTitle:after {
		top: 11px;
		left: 3px;
	}
}

@media screen and (min-width: 426px) and (max-width: 769px){
	#pageTitle{
		font-size: 350%;
	}
	#pageTitle:after {
		top: 14px;
		left: 3px;
	}
}