<div class="header">
    
      <div class="titleHeader">
        <br />
        <a id="pageTitle">Enquire</a>
        <br />
        <br />
        <button type="button" class="homepageButton" routerLink="..">Current Sponsors</button>
        <br />
      </div>
      
</div>

<div class="formContainer">
<div *ngIf="!Name; else forminfo">
  <p class="formTitle">Submit an Enquiry </p>
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Name*</span>
        <input type="text" formControlName="name" class="form-control" placeholder="Contact Name..." aria-describedby="sizing-addon1">
      </div>
      <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{namealert}}</div>
      <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Email*</span>
          <input type="text" formControlName="email" class="form-control" placeholder="Contact Email Address..." aria-describedby="sizing-addon1">
      </div>
      <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{emailalert}}</div>
      <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Organisation*</span>
          <input type="text" formControlName="company" class="form-control" placeholder="Name of your Organisation..." aria-describedby="sizing-addon1">
      </div>
      <div class="alert" *ngIf="!rForm.controls['company'].valid && rForm.controls['company'].touched">{{companyalert}}</div>
      <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Phone</span>
          <input type="text" formControlName="phone" class="form-control" placeholder="Contact Phone Number..." aria-describedby="sizing-addon1">
      </div>
      <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Comments</span> 
          <input type="text" formControlName="comments" class="form-control" placeholder="Leave a comment..." aria-describedby="sizing-addon1">
      </div>
      <p class="formSubtitle">Select an Award from Below</p>
      <p class="formSubtitle3">OR</p>
      <div style="text-align: center;">
          <p class="formSubtitle2">Enter a Custom Award</p>
          <input type="checkbox" class="cb" style="text-align: center;" formControlName="selfselect" value="1">
      </div>
      <div *ngIf="manual">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Award</span> 
            <input type="text" [(ngModel)]="AwardName" formControlName="awardname" class="form-control" placeholder="Custom Award Name..." aria-describedby="sizing-addon1">
        </div>
      </div>
      
      <div style="text-align: center;">
          <input type="submit" class="homepageButton" value="Submit Form" [disabled]="!rForm.valid">
      </div>
  </form>
</div>
</div>
<ng-template #forminfo>
  <div style="width: 100%; height: 100%; border: none;">
    <p class="submitThanks">Thanks for your Enquiry</p>
    <p class="submitName">{{Name}}</p>
    <p class="submitName">{{Email}}</p>
    <p class="submitName">{{Company}}</p>
    <p class="submitThanks">We will get back to your shortly</p>
  </div>
</ng-template>

<hr class="line">

  <div *ngIf="searching">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
  </div>
  
<md-card>
  <p class="formTitle" *ngIf="sponsorsFound" md-subeader>Enquire About a Current Award</p>
  <masonry [useImagesLoaded]="true">
    <masonry-brick *ngFor="let award of potential" class="image-container">
      <div id="card" *ngIf="award.NeedsSponsor == true">
          <div class="sponsorCard">
            <img class="headerImage" src="{{head | assetsAppendGeneral}}">
            <div class="card-block">
              <p class="awardName">{{award.AwardName}}</p>
            </div>
            <img class="sponsorImage" src="{{logo | assetsAppendGeneral}}">
            <div class="card-block">
              <p class="awardBlurb">{{award.AwardBlurb}}</p>
              <button type="button" class="selectButton" (click)="setAward(award)">Select This Award</button>
            </div>
          </div>
      </div>
    </masonry-brick>
  </masonry>
</md-card> 