#search-container{
    margin-top: 20%;
}
.search{
    height: 70px;
    max-height: 70px;
    font-size: 3.5em;
    
}
.avatar{
    margin-bottom: 7px;
    height: 40px;
    width: 40px;
}
.searchButton{
    background-color:green;
    color: #fff;
    margin-top: 20px;
}
.image-container{
    width: 280px;
    min-height: 100px;
    max-width: 300px;
    margin: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
.results{
    padding: 8px;
    margin-bottom: 12px;
}
.forms{
    margin: 20px;
    padding: 10px;
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
}
.left{
    width: 50%;
    display: inline-block;
}
.right{
    width: 40%;
    display: inline-block;
}
.awardCard{
    margin:10%;
    align-content: center;
}
p{
    text-align: center;
}
.border{
    margin: 20px;
    border: 2px solid #eee;
    border-radius: 2px;
    box-shadow: #555 1px 1px 8px 1px;
    padding-bottom: 10px;
    width:97%;
}
button{
    margin:10px;
}
.line{
    margin: 0px;
    border: 4px solid #eee;
    box-shadow: #555 0px 0px 8px 0px;
}
/* reactive form css */
.form-container {
    width:90%;
    padding:2em;
    margin: 2em auto;
    background:#fff;
}

.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

.button {
    margin-top: 3rem;
}
h1 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
}
#name{
    width: 100%;
}
.input-group{
    margin-bottom: 10px;
}
input[type=checkbox]{
    transform: scale(2);
    margin-bottom: 20px;
    margin-left: 10px;
}
input[type=text]{
    z-index: 0;
}
@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 415px){
    .border{
        margin-left: 0;
    }
}


.titleHeader {
	text-align: center;
	position: relative;
}

#pageTitle {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 110px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #A97E37 4px 3px 0;
	position: relative;
}

.homepageButton {
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	background: #DBA449;
	padding: 10px 24px 10px 24px;
	border: solid #A97E37 2px;
	text-decoration: none;
}

.homepageButton:hover {
	background: #f07d00;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	border: solid #f07d00 2px;
	text-decoration: none;
}

@media screen and (max-width: 426px){
	#pageTitle{
		font-size: 290%
	}
	#pageTitle:after {
		top: 11px;
		left: 3px;
	}
}

@media screen and (min-width: 426px) and (max-width: 769px){
	#pageTitle{
		font-size: 350%;
	}
	#pageTitle:after {
		top: 14px;
		left: 3px;
	}
}