footer {
    bottom:0;
    position:fixed;
    width:100%;
    background-color:#000;
    color:#FFF;
}

footer .fl {
    float:left;
    margin-left:8%;
}

.created {
    margin-right:8%;
    float:right;
}
/*
footer:hover {
    opacity:1.0;
    height:20%;
}*/
.inner-wrapper {
    float: left;
    width: 100%;
    height: 400px;
    background-color: #C3D7DF;
    z-index: 0;
}
#photoaside {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: 400px;
}
#photoarticle {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: 400px;
}
