<footer>
  <a href="http://www.aut.ac.nz" target="_blank" class="fl">AUCKLAND UNIVERSITY OF TECHNOLOGY</a>
  <a href="http://www.aut.ac.nz/copyright" target="_blank" class="created">Copyright</a>
  <a href="http://www.aut.ac.nz/privacy" target="_blank" class="created">Privacy</a>
  <a href="http://www.aut.ac.nz/site-map" target="_blank" class="created">Site Map</a>
  <!-- Add class openfoot for div tag -->
  <div class="openfoot">
    <section class="inner-wrapper row">
      <article id="photoarticle">
        <app-leftcontact class="col-md-6"></app-leftcontact>
      </article>
      <aside id="photoaside">
          <app-rightcontact class="col-md-6"></app-rightcontact>
      </aside>
    </section>
  </div>
</footer>