section {
    position: relative;
}

.selected img {
    opacity:0.5;
}

.carousel-item {
    width: 100%;
    background: #000;
}

.item {
    overflow: hidden;
}

img {
    height: 500px;
    max-width: none;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}