<h6>Sponsor Logo Here</h6>
<div tccOwlCarousel [configs]="configs" id ="whole">
  <div class="item">
    <img src="../../assets/images/1.jpg" id="item-1.jpg" />
  </div>
  <div class="item">
    <img src="../../assets/images/2.jpg" id="item-2.jpg" />
  </div>
  <div class="item">
    <img src="../../assets/images/3.jpg" id="item-3.jpg" />
  </div>
  <div class="item">
    <img src="../../assets/images/4.jpg" id="item-4.jpg" />
  </div>
  <div class="item">
    <img src="../../assets/images/5.jpg" id="item-5.jpg" />
  </div>
</div>