
/*--- Start navigation---*/
.dropdown{
    width:100%;
    height: auto;
    background: transparent;
    float: right;
    z-index: 9999;
}
.inner-wrapper{
    position: relative;
    background-color: #C3D7DF;
    opacity: .25;
    width: 100%;
}
.pagebutton{
    background-color: #779ECB;
    width: 100%;
    padding:5px;
    color: white;
    font-size: 30px;
    border: 1px solid black;
}
.pagebutton:hover{
    background-color: #C3D7DF;
    padding:3px;
    color: whitesmoke;
    font-size: 34px;
    border: 2px solid black;
}
.burger{
    float:right;
}
nav {
    float: right;
    padding: 25px 20px 0 0;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    
}

#logo {
    float: left;
    width: 200px;
    height: 100px;
    background: url('../../assets/images/aut_logo.png') no-repeat center;
}
.banner {
    width: 100%;
    background-color:#F1AA90;
    height: 76px;
}

.banner-inner {
    max-width: 1100px;
    margin: 0 auto;
}
.fullwidth{
/*  wrapper    */
}
bannerbutton{
/*   button   */
    background-color:blue;
}
@media screen and (max-width: 767px) {
    #logo {
    float: left;
    width: 200px;
    height: 60px;
    background: url('../../assets/images/mobile_logo.png') no-repeat center;
    }
    .banner {
    width: 100%;
    background-color:#F1AA90;
    height: 100px;
    }

    .banner-inner {
        max-width: 1100px;
        margin: 0 auto;
    }
        #menu-icon {
        display: inline-block;
    }
}
