
/*--- Start navigation---*/
nav {
    float: right;
    padding: 25px 20px 0 0;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

ul {
    list-style-type: none;
}

nav ul li {
    font-family: 'Alegreya Sans', Sans-serif;
    font-size: 150%;
    display: inline-block;
    float: left;
    padding: 10px;
}

nav ul li a {
    color: #F5F5F5;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
    cursor: pointer;
}
.current {
    color: #C3D7DF;
}
#logo {
    float: left;
    width: 200px;
    height: 120px;
    background: url('../../assets/images/aut_logo.png') no-repeat center;
}
.banner {
    width: 100%;
    background-color:#F1AA90;
    height: 100px;
}

.banner-inner {
    max-width: 1100px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    #logo {
    float: left;
    width: 200px;
    height: 60px;
    background: url('../../assets/images/mobile_logo.png') no-repeat center;
    }
    .banner {
    width: 100%;
    background-color:#F1AA90;
    height: 100px;
    }

    .banner-inner {
        max-width: 1100px;
        margin: 0 auto;
    }
        #menu-icon {
        display: inline-block;
        background: url("../../assets/images/burger.png") center;
    }

    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: #6991AC;
        right: 20px;
        top: 60px;
        border: 1px solid #FFF;
        border-radius: 2px 0 2px 2px;
        width: 50%;
    }

    nav:hover ul {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
}
    
}