    <div id="banner">
        <a routerLink="" id="logo"></a>
        <app-animatedhamburger></app-animatedhamburger>
        <nav>
            <a  id="menu-icon"></a>
            <ul>
                <li><a routerLink="" class="current" (click)="onboxChange(0)"  >Home</a></li>
                <li><a routerLink="sponsors" (click)="onboxChange(0)" >Sponsors</a></li>
                <li><a routerLink="awards" (click)="onboxChange(0)" >Awards</a></li>
                <li><a routerLink="photos" (click)="onboxChange(0)" >Photos</a></li>
                <li><a routerLink="contact" (click)="onboxChange(0)" >Contact</a></li>
            </ul>
        </nav>
    </div>
