@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body {
  color: transparent;
}
img {
  display: inline-block;
  width: 226px;
  height: 150px;
  margin-left: 40px;
  margin-right: 40px;
}
.carousel {
  width: 100%;
  height: 150px;
  overflow: hidden;
  box-sizing: border-box;
	box-shadow: #555 1px 1px 8px 1px;
  margin: 0 auto;
}

.sponsorButton {
	font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  color: #DBA449;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  background-color: transparent;
  border: 0;
}

.sponsorButton:hover {
  text-decoration: underline;
}

.holder {
  -webkit-animation: carousel 25s linear infinite;
          animation: carousel 25s linear infinite;
  white-space: nowrap;
  will-change: transform;
}
.holder:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes carousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes carousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}