<!--
<div class="card">
  <div id="card"  [ngClass]="isFlipped == true ? 'flipped' : '' ">
      <!-- front --><!--
    <figure class="front" (click)="cardFlip()">
      <md-card-header>
        <img class="image" src="../../assets/images/i1.jpg" style="min-width:275px; min-height:170px;" alt="Card image cap">
      </md-card-header>
      <md-card-content>
      <h5>{{award.AwardName}}</h5>
      <h6>{{award.AwardMajor}}</h6>
      <h5>{{award.StudentName}}</h5>
      <h5>{{award.awardDate}}</h5>
      <p>{{award.AwardBlurb}}</p>
      </md-card-content>
    </figure>
      <!-- back  --><!--
    <figure class="back" (click)="cardFlip()">
      <img class="image" src="{{award.SponsorLogo | stripurl}}" style="max-width:275px; max-height:100px;" alt="Card image cap">
      <h5 style="margin-top:20px;">{{award.SponsorName}}</h5>
      <p>{{award.awardSponsorBlurb}}</p>
      <h6>{{award.SponsorLink}}</h6>
    </figure>
  </div>
</div>
-->
<md-card class="card">
    <div id="card"  [ngClass]="isFlipped == true ? 'flipped' : '' ">
    <figure class="front" (click)="cardFlip()">
      <md-card-header>
          <img class="image" src="../../assets/images/i1.jpg" style="min-width:275px; min-height:170px;" alt="Card image cap">
        <md-card-title style="color:red;">Award Status: AVAILABLE FOR SPONSORSHIP</md-card-title>
      </md-card-header>
      <md-card-content>
      <p>Award: {{award.AwardName}}</p>
      <p>Date: {{award.AwardDate}}</p>
      <p>Degree: {{award.AwardDegree}}</p>
      <p>Award Details: {{award.AwardBlurb}}</p>
      </md-card-content>
    </figure>
    <figure class="back" (click)="cardFlip()">
      <md-card-header>
        <img class="image" src="{{award.SponsorLogo | stripurl}}" style="max-width:275px; max-height:100px;" alt="Card image cap">
      </md-card-header>
      <md-card-content>
        <h5 style="margin-top:20px;">{{award.SponsorName}}</h5>
        <p>{{award.awardSponsorBlurb}}</p>
        <h6>{{award.SponsorLink}}</h6>
      </md-card-content>
    </figure>
    </div>
</md-card>
<br><br>
  <!--    -->