.holder{ 
  height:440px;
  width:auto;
  position: relative; 
  perspective: 800px;
  text-align: center;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#card .front {
  background: whitesmoke;
}
#card .back {
  background: white;
  transform: rotateY( 180deg );
}
#card.flipped {
  transform: rotateY( 180deg );
}
.image {
    
    width:auto;
    height: 150px;
}
