<div [@dropdown] style="display:block;">
  <section class="inner-wrapper">
    <aside id="mobile">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/frucor.jpg" alt="Card image cap">
        <div class="card-block">
          <div class="card-header">
            <h5 class="card-title">Sponsor Name</h5>
          </div>
            <p class="card-text">You can take this oportunity craft a message </p>
          </div>
        </div>
      </aside>
      <article id="mobile">
          <h2 style="text-align:center;"> Become a Sponsor </h2>
          <p>Lorem ipsum dolor sit amet, prima option eleifend cu mei,
              ipsum appareat no mea, mei bonorum principes ne. 
              Mandamus iudicabit intellegebat eos ne,
                cetero impedit offendit vis ea.
              Lorem ipsum dolor sit amet, prima option eleifend cu mei,
              ipsum appareat no mea, mei bonorum principes ne. 
              Mandamus iudicabit intellegebat eos ne,
                cetero impedit offendit vis ea.</p>
      </article>
              
  </section> 
    <a class="float:right;" routerLink="">close</a>   
</div>