ul {
	padding: 0;
	margin: 20px auto;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}


li {
	display: inline-block;
}

.tn {
	border: 2px solid white;
	box-shadow: #555 1px 1px 8px 1px;
	height: 200px;
	width:300px;
	margin:20px;
	
}
.tn:hover{
	border: 2px solid #F07D00;
}
.expander{
	min-width: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 1); 
}
.large{
	position: relative;
	margin: 50px 0px
}

.blacken{
	background: rgba(0, 0, 0, 0.9); 
	width: auto;
	height: 1000px;
	z-index: 99999;
}

.center{
	position: fixed;
	top: 50%;
	left: 50%; 
	width: 910px; 
	height: 610px; 
	background: #fff;	
	border: none;	
	box-shadow: none;		
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%); 
	-ms-transform: translate(-50%, -50%); 
	-o-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%); 
	z-index: 9999;
	scroll-behavior: none;
}

button {
	margin: 10px;
}

section {
	width: 100%;
}

.photosContainer {
	
}

.row {
	/* margin: 20px; */
}

img {
	display: inline-block;
}

.blankButton {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	font-size: 35px;
	background: #FFFFFF;
	padding: 15px 19px 15px 19px;
	border: none;
	text-decoration: none;
}

.titleHeader {
	text-align: center;
	position: relative;
}

#pageTitle {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 110px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #A97E37 4px 3px 0;
	position: relative;
}

.homepageButton {
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	background: #DBA449;
	padding: 10px 24px 10px 24px;
	border: solid #A97E37 2px;
	text-decoration: none;
}

.homepageButton:hover {
	background: #f07d00;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	border: solid #f07d00 2px;
	text-decoration: none;
}

@media screen and (max-width: 426px){
	#pageTitle{
		font-size: 290%
	}
	#pageTitle:after {
		top: 11px;
		left: 3px;
	}
}

@media screen and (min-width: 426px) and (max-width: 769px){
	#pageTitle{
		font-size: 350%;
	}
	#pageTitle:after {
		top: 14px;
		left: 3px;
	}
}