ul{
    padding: 0;
    width: 1200px;
    margin: 20px auto;
}
li{
    display: inline;
}

.tn{
    margin: 6px;
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
    margin-bottom: 50px;
}
button{
    margin:10px;
}
section {
    width:100%;
}
.border{
    margin: 20px;
    border: 4px solid #eee;
    border-radius: 2px;
    box-shadow: #555 1px 1px 8px 1px;
}
.row{
    padding-left: 30px;
}
img{
    display: inline-block;
}
