<div class="header">
    <div class="titleHeader">
        <br />
        <a id="pageTitle">Photos</a>
        <br />
        <button type="button" class="homepageButton" (click)="downDate()">&lt; &lt;</button>
        <button type="button" class="blankButton">{{selected}}</button>
        <button type="button" class="homepageButton" (click)="upDate()">&gt; &gt;</button>
        <br />
    </div>
</div>

<div class="photosContainer">
    <div class="row">
        <ul id="thumbnailsList">
            <li *ngFor="let picture of pictures ">
                <a [routerLink]="['/photos/slideshow', selected]">
                    <img src="{{picture.Filename | photoAppendGeneral}}" class="tn" width="200" height="160">
                </a>
            </li>
        </ul>
    </div>
</div>