<div class="grid-container">
  <div class="cu" style="color:white">CONTACT US</div>
  <div class="se" style="color:#E1b157">STUDENT ENQUIRIES</div>
  <a class="faq" style="color:white" href="www.aut.ac.nz/being-a-student/starting-out/undergraduates/services-and-facilities/student-hub/frequently-asked-questions">Frequently asked questions</a>
  <span class="freeph" style="color:#E1b157">PHONE:</span>
  <span class="ph0800" style="color:white; size:14px;">0800 AUT UNI (0800 288 864)</span> 
  <div class="email" style="color:white">Email us your query</div>
  <div class="corpenq"  style="color:#E1b157">CORPERATE ENQUIRES</div>
  <span class="phcorp" style="color:#E1b157">PHONE:</span>
  <span  class="corpph0800"style="color:white; size:14px;">+64 9 921 9999</span> 

  <div class="facebook">
    <a href="http://www.aut.ac.nz/facebook">
      <img src="../../assets/images/face.png" alt="fb" width="80" height="80" border="0"/>
    </a>
  </div>
  <div class="twitter">
    <a href="http://www.aut.ac.nz/twitter" target="_blank">
    <img src="../../assets/images/twit.png" alt="tw" width="80" height="80" border="0"/>
  </a>
  </div>
  <div class="youtube">
    <a href="http://www.aut.ac.nz/youtube" target="_blank">
    <img src="../../assets/images/you.png" alt="yt" width="80" height="80" border="0"/>
  </a>
  </div>
  <div class="linkedin">
    <a href="http://www.linkedin.com/edu/school?id=15502" target="_blank">
    <img src="../../assets/images/linked.png" alt="li" width="80" height="80" border="0"/>
  </a>
  </div>
  <div class="instagram">
    <a href="http://www.aut.ac.nz/instagram" target="_blank">
      <img src="../../assets/images/inst.png" alt="ig" width="80" height="80" border="0"/>
    </a>
  </div>

  <div class="rainbow">
    <img src="//www.aut.ac.nz/__data/assets/file/0010/661258/rainbow.svg" width="120">
  </div>
</div>
