  <div class="col-md-12">
    <div class="cu col-md-12" style="color:white">CONTACT US FOR</div>
    <div class="se col-md-12" style="color:white">SPONSORSHIP OPPORTUNITIES</div>
    <a class="faq col-md-12" style="color:#E1b157" routerLink="contact">Contact ECMS Awards Team</a>
    <p class="freeph col-md-2 col-xs-1" style="color:#E1b157">PHONE: </p>
    <span class="ph0800 col-md-10 col-xs-3" style="color:white; size:14px;">0800 AUT UNI (0800 288 864)</span>

    <p class="email col-md-12" style="color:white">Email us your query</p>
    <div class="corpenq col-md-12"  style="color:white">CORPERATE ENQUIRES</div>
    <p class="phcorp col-md-2 col-xs-1" style="color:#E1b157">PHONE:</p>
    <span class="corpph0800 col-md-10 col-xs-3"style="color:white; size:14px;">+64 9 921 9999</span>

    <div class="rainbow col-md-4">
        <img src="//www.aut.ac.nz/__data/assets/file/0010/661258/rainbow.svg">
    </div>
    <div class="socialnetbox col-md-12">
        <div class="facebook">
          <a href="http://www.aut.ac.nz/facebook">
            <!-- <img src="../../assets/images/face.png" alt="fb" width="50" height="50" border="0"/> -->
            <img src="../../assets/images/face.png" alt="fb" border="0"/>
          </a>
        </div>
        <div class="twitter">
          <a href="http://www.aut.ac.nz/twitter" target="_blank">
          <!-- <img src="../../assets/images/twit.png" alt="tw" width="50" height="50" border="0"/> -->
            <img src="../../assets/images/twit.png" alt="tw" border="0"/>
          </a>
        </div>
        <div class="youtube">
          <a href="http://www.aut.ac.nz/youtube" target="_blank">
          <!-- <img src="../../assets/images/you.png" alt="yt" width="50" height="50" border="0"/> -->
            <img src="../../assets/images/you.png" alt="yt" border="0"/>
          </a>
        </div>
        <div class="linkedin">
          <a href="http://www.linkedin.com/edu/school?id=15502" target="_blank">
          <!-- <img src="../../assets/images/linked.png" alt="li" width="50" height="50" border="0"/> -->
            <img src="../../assets/images/linked.png" alt="li" border="0"/>
          </a>
        </div>
        <div class="instagram">
          <a href="http://www.aut.ac.nz/instagram" target="_blank">
            <!-- <img src="../../assets/images/inst.png" alt="ig" width="50" height="50" border="0"/> -->
            <img src="../../assets/images/inst.png" alt="ig" border="0"/>
          </a>
        </div>
      </div>
  </div>

  


