

    .socialnetbox{
        display: flex;
        float: left;
        box-sizing: border-box;
    }

    .cu {
        float: left;
        font-family: HeliaCore-Medium;
        font-size: 18px;

    }
    .se {
        float: left;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .faq {
        float: left;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .freeph {
        float: left;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .ph0800 {
        margin-bottom: 10px;
        float: left;
        font-family: HeliaCore-Medium;
        font-size: 24px;
    }
    .email {
        float: left;
        margin-bottom: 10px;
        font-family: HeliaCore-Medium;
        font-size: 24px;
    }
    .corpenq {
        float: left;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .phcorp {
        float: left;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .corpph0800 {
        float: left;
        margin-bottom: 10px;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .facebook {
        display: inline-block;
    }
    .twitter {
        display: inline-block;
    }
    .youtube {
        display: inline-block;
    }
    .linkedin {
        display: inline-block;
    }
    .instagram {
        display: inline-block;
    }
    .rainbow {
        float: right;
        width: 100px;
        height: 40px;
    }


/* Using media query to detect if the size of mobile is or more than 320px */
@media screen and (max-width: 318px){
    .cu {
        font-size: 10px;
    }
    .se {
        font-size: 10px;
    }
    .faq {
        font-size: 10px;
    }
    .freeph {
        font-size: 10px;
        margin-bottom: 0;
    }
    .ph0800 {
        font-size: 10px;
    }
    .email {
        font-size: 10px;
    }
    .corpenq {
        margin-bottom: 10px;
        font-size: 10px;
    }
    .phcorp {
        font-size: 10px;
        margin-bottom: 0;
    }
    .corpph0800 {
        font-size: 10px;
    }
    .facebook a img, .instagram a img, 
    .twitter a img, .youtube a img, .linkedin a img{
        width: 25px;
        height: 25px;
        margin-right: 2px;
    }
}

@media screen and (min-width: 319px){
    .cu {
        font-size: 10px;
    }
    .se {
        font-size: 10px;
    }
    .faq {
        font-size: 10px;
    }
    .freeph {
        font-size: 10px;
        margin-bottom: 0;
    }
    .ph0800 {
        font-size: 10px;
    }
    .email {
        font-size: 10px;
    }
    .corpenq {
        margin-bottom: 10px;
        font-size: 10px;
    }
    .phcorp {
        font-size: 10px;
        margin-bottom: 0;
    }
    .corpph0800 {
        font-size: 10px;
    }
    .facebook a img, .instagram a img, 
    .twitter a img, .youtube a img, .linkedin a img{
        width: 25px;
        height: 25px;
        margin-right: 2px;
    }
}


/* Using media query to detect if the size of tablet is or more than 768px */
@media screen and (min-width: 768px) {
    .cu {
        font-size: 12px;
    }
    .se {
        font-size: 12px;
    }
    .faq {
        font-size: 12px;
    }
    .freeph {
        font-size: 12px;
    }
    .ph0800 {
        font-size: 12px;
    }
    .email {
        font-size: 12px;
    }
    .corpenq {
        font-size: 12px;
    }
    .phcorp {
        font-size: 12px;
    }
    .corpph0800 {
        font-size: 12px;
    }
    .rainbow {
        width: 27%;
    }
    .facebook a img, .instagram a img, 
    .twitter a img, .youtube a img, .linkedin a img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
}
/* Using media query to detect if the size of desktop/laptop is or more than 1024px */
@media screen and (min-width: 1024px) {
    .cu {
        font-size: 20px;
    }
    .se {
        font-size: 20px;
    }
    .faq {
        font-size: 20px;
    }
    .freeph {
        font-size: 20px;
    }
    .ph0800 {
        font-size: 20px;
    }
    .email {
        font-size: 20px;
    }
    .corpenq {
        font-size: 20px;
    }
    .phcorp {
        font-size: 20px;
    }
    .corpph0800 {
        font-size: 20px;
    }
    .rainbow {
        width: 25%;
    }
    .facebook a img, .instagram a img, 
    .twitter a img, .youtube a img, .linkedin a img{
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 2560px) {
    .cu {
        font-size: 25px;
    }
    .se {
        font-size: 25px;
    }
    .faq {
        font-size: 25px;
    }
    .freeph {
        font-size: 25px;
    }
    .ph0800 {
        font-size: 25px;
    }
    .email {
        font-size: 25px;
    }
    .corpenq {
        font-size: 25px;
    }
    .phcorp {
        font-size: 25px;
    }
    .corpph0800 {
        font-size: 25px;
    }
    .rainbow {
        width: 25%;
    }
    .facebook a img, .instagram a img, 
    .twitter a img, .youtube a img, .linkedin a img{
        width: 65px;
        height: 65px;
        margin-right: 10px;
    }
}