<!-- header -->
<section class="header">
  <app-menu (mobile)="open($event)" [ismobile]="ismobile"></app-menu>
</section>
<!-- end of header -->
<!-- event slider [@heightdown] [@heightup]-->
<div *ngIf="displayHome">
  <section class="event" *ngIf="!ismobile">
    <app-fullwidth></app-fullwidth>
  </section>
</div>
<!-- end of event slider -->
<!-- drawer boxes -->

<!--sponsor teaser mobile-->
<div id="sponsorsMobile"></div>
<div *ngIf="displayHome">                                                       <!--switch to swap between mobile and laptop -->
  <section role="button" (click)="open(1)" class="one-fourth" id="html">
    <i class="icon fa fa-handshake-o"></i>
    <h3 class="disable_text_highlighting">SPONSORS</h3>
  </section>
  <div [@dropdown] *ngIf="ismobile && mobile == 1">
    <section class="inner-wrapper">
      
        <h2 style="text-align:center;"> Become a Sponsor </h2>
        <br />
        <button style="margin-left:30px;" type="button" class="homepageButton" routerLink="sponsors" (click)="open(0)">View Our Sponsors</button>
        <br />
        <p>We welcome your interest in being a sponsor for these Awards. There may be a particular area of interest or discipline
          your organisation is interested in sponsoring. Typically the value of industry prizes are from $1,000-$2,000.Students
          are extremely grateful for your support in this area.
        </p>
        <a routerLink="sponsors/enquiry" class="homepageButton" style="margin-left:50px;">Be A Sponsor</a>
     
    </section>
  </div>

  <!--awards teaser mobile-->
  <div id="awardsMobile">
  <section role="button" (click)="open(2)" class="one-fourth" id="css">
    <i class="icon fa fa-trophy"></i>
    <h3 class="disable_text_highlighting">AWARDS</h3>
  </section>
  <div [@dropdown] *ngIf="ismobile && mobile == 2">
    <section class="inner-wrapper">
    
        <h2 style="text-align:center;"> ECMS Awards </h2>
        <br />
        <button style="margin-left:40px;" type="button" class="homepageButton" routerLink="awards" (click)="open(0)">View the Awards</button>
        <br />
        <app-award-teaser-message></app-award-teaser-message>
     
    </section>
  </div>
</div>

  <!--photos teaser mobile-->
  <div id="photosMobile">
  <section role="button" (click)="open(3)" class="one-fourth" id="seo">
    <i class="icon fa fa-camera-retro"></i>
    <h3 class="disable_text_highlighting">PHOTOS</h3>
  </section>
  <div class="test3" [@dropdown] *ngIf="ismobile && mobile == 3">
    <section class="inner-wrapper">
      
        <h2> Photos</h2>
        <br />
        <button style="margin-left:40px;" type="button" class="homepageButton" [routerLink]="['/photos', current]" (click)="open(0)">View the Photos</button>
        <br />
        <p>Browse through photos from the previous event or use the slideshow.</p>
      
    </section>
  </div>
</div>

  <!--contact teaser mobile-->
  <div id="contactsMobile">
  <section role="button" (click)="open(4)" class="one-fourth" id="social">
    <i class="icon fa fa-phone-square"></i>
    <h3 class="disable_text_highlighting">CONTACT</h3>
  </section>

  <div class="test4" [@dropdown] *ngIf="ismobile && mobile == 4">
    <section class="inner-wrapper-2">
    
        <h2> Contacts </h2>
        <br />
        <button style="margin-left:40px;" type="button" class="homepageButton" routerLink="contact" (click)="open(0)">View the Contacts</button>
        <br />
        <p>Contacts for awards can be viewed by the footer or press the button to get the details from the administration staff.</p>
     
    </section>
  </div>
</div>
</div>

<!--sponsor teaser laptop-->
<div id="laptopTop"></div>
<div  [@heightdown] [@heightup] *ngIf="!ismobile && mobile == 1" >
  <section class="inner-wrapper">
    <article id="sponsorarticle">
      <h2 style="text-align:center;"> Award Sponsors </h2>

      <br />
      <button type="button" class="homepageButton" routerLink="sponsors" (click)="open(0)">View Our Sponsors</button>
      <br />

      <p>We welcome your interest in being a sponsor for these Awards. There may be a particular area of interest or discipline
        your organisation is interested in sponsoring. Typically the value of industry prizes are from $1,000-$2,000.Students
        are extremely grateful for your support in this area.</p>
    </article>
    <aside id="sponsoraside">
        <div id="card">
            <div class="sponsorCard">
              <img class="headerImage" src="{{head | assetsAppendGeneral}}">
              <div class="card-block">
                <p class="awardName">{{create}}</p>
              </div>
              <img class="sponsorImage" src="{{logo | assetsAppendGeneral}}">
              <div class="card-block">
                <h5 style="padding:10px;" class="awardBlurb">{{blurb}}</h5>
                
                <button style="margin-left:60px;" type="button" class="homepageButton" routerLink="../sponsors/enquiry">Enquiry</button>
               
              </div>
            </div>
        </div>
    </aside>
  </section>
</div>

<!--awards teaser laptop-->

<div [@heightdown] [@heightup] *ngIf="!ismobile && mobile == 2">
  <section class="inner-wrapper">
    <article id="awardsarticle">
      <h2 style="text-align:center;"> The ECMS Awards </h2>

      <br />
      <button type="button" class="homepageButton" routerLink="awards" (click)="open(0)">View the Awards</button>
      <br />
      <app-award-teaser-message></app-award-teaser-message>

    </article>
    <aside id="awardsaside">
        <img src="{{awardImage | photoAppendGeneral}}">
    </aside>
  </section>
</div>
<!--photos teaser laptop-->

<div [@heightdown] [@heightup] *ngIf="!ismobile && mobile == 3">

  <section class="inner-wrapper">
    <article id="photoarticle">
      <img src="../../assets/images/i2.jpg">
    </article>
    <aside id="photoaside">

      <h2> Photos</h2>

      <br />
      <button type="button" class="homepageButton" [routerLink]="['/photos', current]" (click)="open(0)">View the Photos</button>
      <br />

      <p>Browse through photos from the previous event or use the slideshow.</p>
    </aside>
  </section>
</div>
<!--contacts teaser laptop-->

<div [@heightdown] [@heightup] *ngIf="!ismobile && mobile == 4">
  <section class="inner-wrapper">
    <!--routerLink="sponsors"-->
    <aside id="contactaside">

      <h2> Contact </h2>

      <br />
      <button type="button" class="homepageButton" routerLink="contact" (click)="open(0)">View the Contacts</button>
      <br />

      <p>AUT contact information is in the footer or press the button for details of the administration staff.</p>
    </aside>
    <article id="contactarticle">

      <img src="../../assets/images/i3.jpg">

    </article>
  </section>
</div>
<!-- end of drawer boxes -->
<div [@heightdown] [@heightup] *ngIf="mobile == 0">
  <router-outlet></router-outlet>
</div>


<div *ngIf="displayHome">
  <section class="inner-wrapper-2">
    <article id="tablet">
      <img src="../../assets/images/i1.jpg">
    </article>
    <aside id="tablet">
      <h2 id="mainTitle"> ECMS Awards </h2>
      <p style="color: black; padding: 40px;">
        <app-welcome-message></app-welcome-message>
      </p>
    </aside>
  </section>

  <!-- event home page -->

  <section class="inner-wrapper-2">
    <article id="desktop">
      <h2 id="mainTitle"> Event Info </h2>
      <p style="color: black; padding: 40px;">
        <app-event-message></app-event-message>
      </p>
    </article>
    <aside id="desktop">
      <img src="../../assets/images/i2.jpg">
    </aside>
  </section>

  <!--sponsor home page -->
  <section class="inner-wrapper-2">
    <aside id="mobile">
      <h2 id="mainTitle"> Sponsorship </h2>
      <p style="color: black; padding: 40px;">
        <app-sponsorship-message></app-sponsorship-message>
      </p>
      <div align="center">
        <button type="button" class="homepageButton" routerLink="../sponsors/enquiry">Sponsorship Enquiry</button>
      </div>
    </aside>
    <article id="mobile">
      <img src="../../assets/images/i3.jpg">
    </article>
  </section>
<!-- sponsor carasouel -->
  <br />
<br />
<br />
  <section class="inner-wrapper-2" id="spcara">
    <div class="sp">
      <app-sponsor-cara></app-sponsor-cara>
    </div>
  </section>
</div>
<!--end of display home-->

<br/>
<section style="width:100%;" id="foot">
  <app-footer></app-footer>
</section>