@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
.disable_text_highlighting {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
	background-color: White;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
p.awardName {
	margin-top: 0px;
	color: #F07D00;
	font-size: 22px;
	width:250px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}

p.awardBlurb {
	color: black;
	font-size: 16px;
	width:250px;
	text-align: center;
}
.event {
	background-color: #D93B20;
}

body {
	background-color: #FFFFFF;
	color: #67727A;
	font-family: 'Alegreya', Sans-serif;
	margin: 0;
	overflow-x: hidden;
}

.homepageButton {
	margin: 10px;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	background: #DBA449;
	padding: 10px 24px 10px 24px;
	border: solid #A97E37 2px;
	text-decoration: none;
}

.homepageButton:hover {
	background: #f07d00;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	border: solid #f07d00 2px;
	text-decoration: none;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: #F07D00;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#mainTitle {
	font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    color: #DBA449;
    text-transform: uppercase;
    text-decoration: none;
	font-size: 50px;
    font-weight: 800;
    text-align: center;
    border: 2px;
    border-style: solid;
	border-color:#DBA449;
	border-radius: 15px;
    padding: 15px;
}

h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400;
	color: #FFFFFF;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #F07D00;
	font-size: 22px;
	font-weight: normal;
	line-height: 120%;
	padding: 30px;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}


/*--- Start navigation---*/

nav {
	float: right;
	padding: 25px 20px 0 0;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url("../../assets/images/burger.png") center;
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}

ul {
	list-style-type: none;
}

nav ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 150%;
	display: inline-block;
	padding: 10px;
}

nav ul li a {
	color: FFFFFF;
	text-decoration: none;
}

nav ul li a:hover {
	color: #FFFFFF;
}

.current {
	color: #FFFFFF;
}


/*---End Navigation Style--*/

.banner {
	width: 100%;
	background-color: #DBA449;
	height: 100px;
}

.header {
	background-color: #DBA449;
	min-height: 100px;
}

.banner-inner {
	max-width: 1100px;
	margin: 0 auto;
}

.one-fourth {
	width: 25%;
	float: left;
	text-align: center;
	z-index: 500;
}

#html {
    background-color: #FC882B;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

#html:hover {
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-ms-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

#html:active {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#css {
    background-color: #F76A6A;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

#css:hover {
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-ms-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

#css:active {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#seo {
    background-color: #A8D0E6;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

#seo:hover {
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-ms-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

#seo:active {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#social {
    background-color: #B189D2;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    
}

#social:hover {
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-ms-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

#social:active {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.one-fourth i {
	color: #F0F0F0;
	font-size: 500%;
}

.inner-wrapper {
	float: left;
	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
	z-index: 0;
}

article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

aside {
	float: right;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

#sponsorarticle {
	text-align: center;
	float: left;
	margin: 0 auto;
	width: 70%;
	height: 400px;
}

#sponsoraside {
	float: right;
	margin: 0 auto;
	width: 30%;
	height: 400px;
}

#awardsarticle {
	text-align: center;
	float: left;
	margin: 0 auto;
	width: 70%;
	height: 400px;
}

#awardsaside {
	float: right;
	margin: 0 auto;
	width: 30%;
	height: 400px;
}

#photoaside {
	text-align: center;
	float: left;
	margin: 0 auto;
	width: 50%;
	height: 400px;
}

#photoarticle {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: 400px;
    overflow: scroll;
}

#contactarticle {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: 400px;
    overflow: scroll;
}

#contactaside {
	text-align: center;
	float: left;
	margin: 0 auto;
	width: 50%;
	height: 400px;
}

#eventarticle {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: 400px;
}

#eventaside {
	float: right;
	margin: 0 auto;
	width: 50%;
	height: 400px;
}

#tablet2 {
	background-color: #FFFFFF;
	max-height: 800px;
}


/* Main Title Article Background Colour */

#tablet {
	background-color: transparent;
	max-height: 800px;
}


/* Sponsorship Article Background Colour */

#mobile {
	background-color: transparent;
}


/* Event Article Background Colour */

#desktop {
	background-color: transparent;
}

#photos {
	background-color: #FFFFFF;
}

#contact {
	background-color: #FFFFFF;
}

#awardtext {
	background-color: #000000;
	height: 400px;
}

#awardsarticle {
	background-color: #FFFFFF;
}

#sponsorarticle {
	background-color: #FFFFFF;
}

#photoarticle {
	background-color: #FFFFFF;
}

#contactarticle {
	background-color: #FFFFFF;
}

.inner-wrapper-2 {
	float: left;
	width: 100%;
	background-color: white;
}

.inner-wrapper-3 {
	float: left;
	width: 100%;
	background-color: white;
}

.one-third {
	width: 33.3333333333%;
	float: left;
	text-align: center;
}

#google {
	background-color: #FFFFFF;
}

#marketing {
	background-color: #FFFFFF;
}

#customers {
	background-color: #FFFFFF;
}

#smiley {
	background-color: #FFFFFF;
	padding: 0 0 1%;
	clear: both;
}


/*---Start Footer--*/

footer {
	background-color: #FFFFFF;
	width: 100%;
}

.social {
	list-style-type: none;
	text-align: center;
}

footer.second {
	border-top: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	max-height: 55px;
	margin: 0;
}

footer.second p {
	padding: 5px 0 9px 0;
	text-align: center;
}

.holder {
	height: 300px;
	width: auto;
	position: relative;
	perspective: 800px;
	text-align: center;
}
.logoContainer {
	margin: auto;
	margin-top: 10px;
	width: 90px;
	height: 60px;
}
.frontImage {
	width: 300px;
}
.smallLogo {
	max-height: 100%;
	max-width: 100%;
}

.smallLogo:hover {
	padding: 5px 5px 5px 5px;
	border: 1px solid #f07d00;
	transition: .2s ease;
}

#card {
	width: 270px;
	height: 400px;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
	border: 1px solid black;
}

#card figure {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

#card .front {
  background: whitesmoke;
  min-height: 400px;
  height: auto;
}

#card .back {
	background: white;
	transform: rotateY( 180deg);
	min-height: 400px;
}

#card.flipped {
	transform: rotateY( 180deg);
}

.image {
	width: auto;
	height: 150px;
}

.one-fourth .icon{
	position: relative;
	margin-top: 35px;
}

/*----------MEDIA!!!-------*/

@media screen and (max-width: 768px) {
    h2 {
        font-size: 100%;
    }

    h3 {
        font-size: 125%;
    }

    p {
        font-size: 120%;
    }

    header {
    background-color: #AADCD2;
    min-height: 70px;

    }

    #logo {
        margin: 15px 0 20px -25px;
    }

    #menu-icon {
        display: inline-block;
        color: black;
    }

    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: #6991AC;
        right: 20px;
        top: 60px;
        border: 1px solid #FFF;
        border-radius: 2px 0 2px 2px;
        width: 50%;
    }

    nav:hover ul {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }

    .banner {
        padding-top: 86px;
    }
    .one-fourth {
        float: left;
        width: 100%;
    }
    .one-fourth i {
        font-size: 350%;
        padding: 4% 0 1% 0;
    }
    article {
        width: 100%;
    }
    aside {
        width: 100%;
    }
    .hand-mobile {
        display: none;
    }
    .one-third {
        width: 100%;
    }
    .social i {
        font-size: 180%;
    }

    .inner-wrapper {
        overflow: scroll;
    }
    .inner-wrapper-2 {
        overflow: scroll;
    }
}
@media screen and (max-width: 1042px) {
	#mainTitle{
		font-size: 100%;
	}
}
@media screen and (max-width: 330px){
	#mainTitle{
		font-size: 85%;
		padding: 2%;
	}
}