
<!-- header -->
<section class="banner">
    <div class="banner-inner">
        <app-header></app-header>
    </div>
</section>
<!-- end of header -->
<!-- event slider -->
<section class="event">
    <app-fullwidth></app-fullwidth>
</section>
<!-- end of event slider -->
<!-- drawer boxes -->
<section class="one-fourth" id="html">
    <td><i class="fa fa-html5"></i></td>
    <h3>SPONSORS</h3>
</section>
<section class="one-fourth" id="css">
    <td><i class="fa fa-css3"></i></td>
    <h3>AWARDS</h3>
</section>
<section class="one-fourth" id="seo">
    <td><i class="fa fa-search"></i></td>
    <h3>PHOTOS</h3>
</section>
<section class="one-fourth" id="social">
    <td><i class="fa fa-users"></i></td>
    <h3>CONTACT</h3>
</section>
<!-- end of drawer boxes -->
<section class="inner-wrapper">
    <article id="tablet">
        <img src="../../assets/images/i1ec.jpg">
    </article>
    <aside id="tablet">
        <h2> Welcome to ECMS Awards</h2>
        <p>Lorem ipsum dolor sit amet, prima option eleifend cu mei,
             ipsum appareat no mea, mei bonorum principes ne. 
             Mandamus iudicabit intellegebat eos ne,
              cetero impedit offendit vis ea.</p>
    </aside>
</section>
<section class="inner-wrapper-2">
    <article id="mobile">
        <h2> Become a Sponsor </h2>
        <p>Lorem ipsum dolor sit amet, prima option eleifend cu mei,
             ipsum appareat no mea, mei bonorum principes ne. 
             Mandamus iudicabit intellegebat eos ne,
              cetero impedit offendit vis ea.
            Lorem ipsum dolor sit amet, prima option eleifend cu mei,
             ipsum appareat no mea, mei bonorum principes ne. 
             Mandamus iudicabit intellegebat eos ne,
              cetero impedit offendit vis ea.</p>
    </article>
    <aside id="mobile">
        <img src="../../assets/images/i3ec.jpg">
    </aside>
</section>
<!-- sponsor carasouel -->
<section class="sponsorCara" id="spcara">
    <div>
        
    </div>
</section>
<section class="footer" id="foot">
    <div>
    </div>
</section>