<div class="border">
  <button class="btn btn-lg btn-success" routerLink="sponsors">Sponsorship Inquiry</button>
  <h1 style="text-align:center;">ECMS Contacts</h1>
</div>

<div class="container m-t-md">
  <!-- Declare div tag and call to generate data from API of SharePoint -->
  <div class="row" *ngFor="let contact of contacts">
    <!-- If the contact is visible, it will display.
    Otherwise, it will hide itself. -->
    <div class="ebussinescard" *ngIf="contact.adminIsVisable">
      <img src="../../assets/images/aut_logo.png">
      <p>{{contact.adminName}}</p>
      <p>{{contact.contactTitle}}</p>
      <a href="{{contact.adminEmail}}">Email</a>
    </div>
  </div>
</div>