@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

.contactsContainer {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ebussinescard {
	margin: 60px;
	width: 300px;
	height: 375px;
	text-align: center;
	background-color: white;
	box-shadow: #555 1px 1px 8px 1px;
}

.ebussinescard p {
	text-align: center;
	padding: 4px;
}


/* Make the AUT logo on the middle top */

.ebussinescard img {
	display: block;
	margin: 0 auto;
}

.border {
	margin: 20px;
	border: 4px solid #eee;
	border-radius: 2px;
	box-shadow: #555 1px 1px 8px 1px;
}

button {
	margin: 10px;
}

.cardText {
	padding-left: 10px;
	padding-right: 10px;

}

p.name {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: #F07D00;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

p.school {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: black;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

p.title {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: black;
	font-size: 16px;
	text-align: center;
}

p.email {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: black;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

a {
	color: #F07D00;
	font-size: 16px;
	font-weight: bold;
	font-style: oblique;
}



.titleHeader {
	text-align: center;
	position: relative;
}

#pageTitle {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 110px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #A97E37 3px 2px 0;
	position: relative;
}

#pageTitle:after {
	content: "Contacts";
	position: absolute;
	left: 3px;
	top: 21px;
}

#pageTitle:after {
	background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
	background-size: 3px 3px;
	-webkit-background-clip: text;
	background-clip: test;
	-webkit-text-fill-color: transparent;
	z-index: -5;
	display: block;
	text-shadow: none;
}

.homepageButton {
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	background: #DBA449;
	
	padding: 10px 24px 10px 24px;
	border: solid #f07d00 2px;
	text-decoration: none;
}

.homepageButton:hover {
	background: #f07d00;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}

@media screen and (max-width: 426px){
	#pageTitle{
		font-size: 290%
	}
	#pageTitle:after {
		top: 11px;
		left: 3px;
	}
}

@media screen and (min-width: 426px) and (max-width: 769px){
	#pageTitle{
		font-size: 350%;
	}
	#pageTitle:after {
		top: 14px;
		left: 3px;
	}
}