<section>
  <h1 style="text-align:center;">ECMS Contact Us</h1>
</section>
<p>The contact information for the ECMS awards web site will be bellow this line and above the offical contact footer for this page</p>

<div class="row">
  <div class="container col-sm-12 col-md-12">
      <div class="ebussinescard">
        <img src="../../assets/images/aut_logo.png">
        <p>Name: Leanne Bint</p>
        <p>Title: Client</p>
        <p>Email: lbint@aut.ac.nz</p>
      </div>
      
      <div class="ebussinescard">
        <img src="../../assets/images/aut_logo.png">
        <p>Name: Stephen Thorpe</p>
        <p>Title: Dr</p>
        <p>Email: stephen.thorpe@aut.ac.nz</p>
      </div>
  </div>
</div>
<section class="inner-wrapper">
  <article id="photoarticle">
    <app-rightcontact></app-rightcontact>
  </article>
  <aside id="photoaside">
    <app-leftcontact></app-leftcontact>
  </aside>
</section>

