<div class="header">
  
    <div class="titleHeader">
      <br />
      <a id="pageTitle">Contacts</a>
      <br />
      <button type="button" class="homepageButton" routerLink="../sponsors/enquiry">Sponsorship Enquiry</button>
      <br />
    </div>
    
  </div>

<div class="contactsContainer" style="margin: 0 auto;">
  <!-- Declare div tag and call to generate data from API of SharePoint -->
  <div class="row" *ngFor="let contact of contacts">
    <!-- If the contact is visible, it will display.
    Otherwise, it will hide itself. -->
    <div class="ebussinescard" *ngIf="contact.adminIsVisable">
      <img src="{{header | assetsAppendGeneral}}">
      <div class="cardText">
        <p class="name">{{contact.adminName}}</p>
        <p class="school">School of Engineering, Computer & Mathematical Sciences</p>
        <p class="title">{{contact.contactTitle}}</p>
        <p class="email">Email:&nbsp;&nbsp;&nbsp;<a href="mailto:{{contact.adminEmail}}">{{contact.adminEmail}}</a></p>
      </div>
    </div>
  </div>

</div>