.inner-wrapper {
    float: left;
    width: 100%;
    height: 400px;
    background-color: #C3D7DF;
    z-index: 0;
}
#photoaside {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: 400px;
}
#photoarticle {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: 400px;
}

.container {
    display:                 inline-flex;
    flex-wrap:               wrap;
    -webkit-flex-wrap:       wrap;         /* Safari 8 */
    justify-content:         center;
    -webkit-justify-content: center;       /* Safari 8 */
    height: 100%;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
 }

 .ebussinescard{
    margin: 20px;
    width: 300px;
    height: 300px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 }


 .ebussinescard p{
    text-align: center;
 }

 /* Make the AUT logo on the middle top */
 .ebussinescard img{
    display: block;
    margin: 0 auto;
 }
 .border{
    margin: 20px;
    border: 4px solid #eee;
    border-radius: 2px;
    box-shadow: #555 1px 1px 8px 1px;
}