    .addressinfo {
        /* grid-column: 1/10;
        grid-row: 1/2; */
        font-family: HeliaCore-Medium;
        font-size: 18px;
    }
    .maorides {
        /* grid-column: 1/10;
        grid-row: 2/3; */
        margin-bottom: 10px;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .autcity {
        /* grid-column: 1/5;
        grid-row: 3/4; */
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .cityaddress {
        /* grid-column: 1/5;
        grid-row: 4/5; */
        margin-bottom: 20px;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .autsouth {
        /* grid-column: 6/10;
        grid-row: 3/4; */
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .southaddress {
        /* grid-column: 6/10;
        grid-row: 4/5; */
        margin-bottom: 20px;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .autnorth {
        /* grid-column: 1/5;
        grid-row: 5/6; */
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .northaddress {
        /* grid-column: 1/5;
        grid-row: 6/7; */
        margin-bottom: 20px;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
    .slogan {
        /* grid-column: 1/10;
        grid-row: 8/9; */
        text-align: left;
        font-family: HeliaCore-Light;
        font-size: 24px;
    }
/* Using media query to detect if the size of mobile is or more than 320px */
@media screen and (min-width: 319px) and (max-width: 769px){
    .addressinfo {
        font-size: 10px;
    }
    .maorides {
        font-size: 10px;
    }
    .autcity {
        font-size:10px;
    }
    .cityaddress {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .autsouth {
        font-size: 10px;
    }
    .southaddress {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .autnorth {
        font-size: 10px;
    }
    .northaddress {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .slogan {
        font-size: 13px;
    }
}

/* Using media query to detect if the size of tablet is or more than 768px */
@media screen and (min-width: 768px) {
    .addressinfo {
        font-size: 13px;
    }
    .maorides {
        font-size: 13px;
    }
    .autcity {
        font-size: 13px;
    }
    .cityaddress {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .autsouth {
        font-size: 13px;
    }
    .southaddress {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .autnorth {
        font-size: 13px;
    }
    .northaddress {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .slogan {
        font-size: 18px;
    }
}

/* Using media query to detect if the size of desktop/laptop is or more than 1024px */
@media screen and (min-width: 1024px) {
    .addressinfo {
        font-size: 16px;
    }
    .maorides {
        font-size: 16px;
    }
    .autcity {
        font-size: 16px;
    }
    .cityaddress {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .autsouth {
        font-size: 16px;
    }
    .southaddress {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .autnorth {
        font-size: 16px;
    }
    .northaddress {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .slogan {
        font-size: 20px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 2603px) {
    .addressinfo {
        font-size: 23px;
    }
    .maorides {
        font-size: 23px;
    }
    .autcity {
        font-size: 23px;
    }
    .cityaddress {
        font-size: 23px;
        margin-bottom: 10px;
    }
    .autsouth {
        font-size: 23px;
    }
    .southaddress {
        font-size: 23px;
        margin-bottom: 10px;
    }
    .autnorth {
        font-size: 23px;
    }
    .northaddress {
        font-size: 23px;
        margin-bottom: 10px;
    }
    .slogan {
        font-size: 28px;
    }
}