<div class="grid-container">
  <div class="addressinfo" style="color:#E1b157">AUCKLAND UNIVERSITY OF TECHNOLOGY, AUCKLAND, NEW ZEALAND</div>
  <div class="maorides" style="color:white">Te Wananga Aronui o Tamaki Makau Rau</div>
  
  <div class="autcity" style="color:#E1b157">AUT CITY CAMPUS</div>
  <div class="cityaddress" style="color:white">55 Wellesley Street East, Auckland Central</div>
  <div class="autsouth"  style="color:#E1b157">AUT SOUTH CAMPUS</div>
  <div class="southaddress" style="color:white">640 Great South Road, Manukau, Auckland</div>
  <div class="autnorth" style="color:#E1b157">AUT NORTH CAMPUS</div>
  <div class="northaddress" style="color:white">90 Akorange Drive, Northcote, Auckland</div>
  <div class="slogan" style="color:white">THE UNIVERSITY FOR THE CHANGING WORLD</div>
</div>
