<div class="header">
  
    <div class="titleHeader">
      <br />
      <a id="pageTitle">Certificate</a>
      <br />
      <br />
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="award-container">
      <div [ngStyle]="{'text-align':'center'}">
        <img src="{{base}}" width="100%">
        
        <h1>{{StudentName}}</h1>
        <h2>has been awarded the</h2>
        <h3>{{AwardName}}</h3>
        <h4>Awarded for: {{AwardBlurb}}</h4>
        
        <table style="width: 100%; margin-top: 60px;" border="1" cellpadding="3">
          <tbody>
          <tr>
            <td style="width: 10%;"> <!-- table --> </td>
            <td style="width: 30%;"><h3 style="width:245px;">&nbsp;&nbsp;&nbsp;&nbsp;AUT ECMS</h3></td>
            <td style="width: 20;"> <!-- table --> </td>
            <td style="width: 30%; vertical-align:bottom;">{{AwardDate}}</td>
            <td style="width: 10%;"> <!-- table --> </td>
          </tr>
          <tr>
            <th style="width: 10%;"> <!-- table --> </th>
            <th style="width: 30%; border-top: 1px solid black;">AUT School of Engineering, Computer and Mathematical Sciences</th>
            <th style="width: 20;"> <!-- table --> </th>
            <th style="width: 30%; border-top: 1px solid black;">Year</th>
            <th style="width: 10%;"> <!-- table --> </th>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
