.img-container {
    margin:  auto;
    margin-bottom: 0;
	border: 2px solid white;
	box-shadow: #555 1px 1px 8px 1px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
}

img {
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

.class1 {
    margin: 0 auto;
    position: relative;
    max-width: 75%;
}

.button1 {
    position: absolute;
    left: 0px;
    top: 50%;
	margin-left: 2px;
	z-index: 9999;
}

.buttonCenter {
    margin: 0 auto;
    text-align: center;
}

.button2 {
    position: absolute;
    right: 0px;
    top: 50%;
	margin-right: 2px;
	z-index: 9999;
}

.slideshowStatus {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	font-size: 20px;
	font-weight: bold;
	line-height: 120%;
	padding: 20px;
	text-align: center;
}


.titleHeader {
	text-align: center;
	position: relative;
}

#pageTitle {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 110px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #A97E37 3px 2px 0;
	position: relative;
}

#pageTitle:after {
	content: "Gallery";
	position: absolute;
	left: 3px;
	top: 21px;
}

#pageTitle:after {
	background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
	background-size: 4px 4px;
	-webkit-background-clip: text;
	background-clip: test;
	-webkit-text-fill-color: transparent;
	z-index: -5;
	display: block;
	text-shadow: none;
}

.homepageButton {
    font-family: arial black, sans-serif;
    background-color: rgba(255, 255, 255, 0.50);
    padding: 0px 20px 0px 20px;
	text-decoration: none;
	font-size: 18px;
    font-weight: bold;
    border: 0px;
}

.homepageButton:hover {
    background-color: #DBA449;
    color: white;
}

@media screen and (max-width: 426px){
	#pageTitle{
		font-size: 290%
	}
	#pageTitle:after {
		top: 11px;
		left: 3px;
	}
}

@media screen and (min-width: 426px) and (max-width: 769px){
	#pageTitle{
		font-size: 350%;
	}
	#pageTitle:after {
		top: 14px;
		left: 3px;
	}
}