<div class="header">
    <div class="titleHeader">
        <br />
        <a id="pageTitle">Gallery</a>
        <br />
        <br />
    </div>
</div>

<div class="class1">
  <div *ngIf="loaded" class="marg">
    
    <div class="button1">
      <button (click)="indexDown()" class="homepageButton" style="height:50px;">&lt;</button>
    </div>
    
    <div [@picstate]="picstate" (@picstate.done)="changeIndex()">
      <img src="http://ecms-award.aut.ac.nz/web/generalphotos/{{yearPhotos[index].Filename}}" class="img-container">
    </div>

    <div class="button2">
      <button (click)="indexUp()" class="homepageButton" style="height:50px;">&gt;</button>
    </div>

  </div>

  <div class="buttonCenter">
    <p class="slideshowStatus">
      Play Slideshow <br />
      <app-animated-play [isPlaying]="isPlaying" (event)="togglePlaying($event)"></app-animated-play>
    </p>
  </div>

</div>