.img-container {
    margin:  auto;
    margin-bottom: 0;
	border: 2px solid white;
	box-shadow: #555 1px 1px 8px 1px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
}

img {
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

.class1 {
    margin: 0 auto;
    position: relative;
    max-width: 75%;
}

.button1 {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-left: 2px;
}

.buttonCenter {
    margin: 0 auto;
    text-align: center;
}

.button2 {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-right: 2px;
}

.slideshowStatus {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	font-size: 20px;
	font-weight: bold;
	line-height: 120%;
	padding: 20px;
	text-align: center;
}


.titleHeader {
	text-align: center;
	position: relative;
}

#pageTitle {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 110px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #A97E37 4px 3px 0;
	position: relative;
}

.homepageButton {
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	background: #DBA449;
	padding: 10px 24px 10px 24px;
	border: solid #A97E37 2px;
	text-decoration: none;
}

.homepageButton:hover {
	background: #f07d00;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	border: solid #f07d00 2px;
	text-decoration: none;
}

@media screen and (max-width: 426px){
	#pageTitle{
		font-size: 290%
	}
	#pageTitle:after {
		top: 11px;
		left: 3px;
	}
}

@media screen and (min-width: 426px) and (max-width: 769px){
	#pageTitle{
		font-size: 350%;
	}
	#pageTitle:after {
		top: 14px;
		left: 3px;
	}
}