<div class="border">
  <button [routerLink]="['/photos', id]" class="btn btn-success" style="height:50px;">Gallery</button>
  <button   (click)="indexUp()"  class="btn btn-success" style="height:50px;">&lt; &lt;</button>
  <button  (click)="indexDown()" class="btn btn-success" style="height:50px;">&gt; &gt;</button>
  <h1 style="text-align:center;">ECMS Photo {{PhotoID}}</h1>
  <app-animated-play
  [isPlaying]="isPlaying"
  (event)="togglePlaying($event)"></app-animated-play>
</div>
<br>
<div class="border">
  <div *ngIf="loaded" class="marg">
    <div [@picstate]="picstate" (@picstate.done)="changeIndex()">
    <img src="http://ecms-award.aut.ac.nz/web/generalphotos/{{yearPhotos[index].Filename}}" class="img-container">
<!--testing     <img src="{{yearPhotos[index].Filename}}" class="img-container" alt="pic here">   -->
    </div>
  </div>
</div>