<div class="border">
  <button (click)="back()" class="btn btn-success" style="height:50px;">Gallery</button>
  <h1 style="text-align:center;">ECMS Photo {{PhotoID}}</h1>
</div>

<br>
<div class="border">
  <div *ngIf="loaded" class="marg">
    <img src="http://ecms-award.aut.ac.nz/web/generalphotos/{{FileName}}" class="img-container">
    <!-- <div [ngStyle]="{'background-image':'url(http://ecms-award.aut.ac.nz/web/generalphotos/${}')'}" class="img-container">-->
    <!--  </div>-->
  </div>
</div>