<div [@dropdown] style="display:block;">
  <section class="inner-wrapper">
    <aside id="mobile">
      <div class="card">
        <section class="holder">
          <div id="card"  [ngClass]="isFlipped == true ? 'flipped' : '' ">
        <!-- front -->
            <figure class="front" (click)="cardFlip()">
              <img class="image" src="../../assets/images/i1.jpg" alt="Card image cap">
              <h5>Name an award</h5>
              <h5>given to a student</h5>
              <h6>who majors in</h6>
              <p>Create an award blurb to show support</p>
            </figure>
        <!-- back  -->
            <figure class="back" (click)="cardFlip()">
              <img class="image" src="../../assets/images/frucor.jpg" alt="Card image cap">
              <h5 style="margin-top:20px;">Your Orginization here</h5>
              <p>the details about your orginization and products here</p>
              <h6>WWW.YourWebSite.co.nz</h6>
            </figure>
          </div>
        </section>
      </div>
    </aside>
    <article id="mobile">
      <h2 style="text-align:center;"> ECMS Awards </h2>
        <p>Lorem ipsum dolor sit amet, prima option eleifend cu mei,
              ipsum appareat no mea, mei bonorum principes ne. 
              Mandamus iudicabit intellegebat eos ne,
                cetero impedit offendit vis ea.
              Lorem ipsum dolor sit amet, prima option eleifend cu mei,
              ipsum appareat no mea, mei bonorum principes ne. 
              Mandamus iudicabit intellegebat eos ne,
                cetero impedit offendit vis ea.</p>
    </article>
  </section>
<a routerLink="">close</a>
</div>
