<div class="border">
  <button routerLink="../awards/search" style="text-align:center; height:50px" type="button" class="btn btn-success">Search Awards</button>
  <H1 style="text-align:center">ECMS Awards</H1>
</div>
<!--this is a comment-->
<masonry [useImagesLoaded]="false" class="border">
  <masonry-brick class="cards" *ngFor="let award of awards" class="image-container">
    <div class="card">
      <div id="card" [ngClass]="{'flipped': award.isflipped }" (click)="award.isflipped = !award.isflipped;">
        <md-card class="front">
          <md-card-header>
            <img class="image" src="../../assets/images/i6.jpg">
          </md-card-header>
          <md-card-content>
            <p>{{award.StudentName}}</p>
            <p>{{award.AwardName}}</p>
            <p>{{award.AwardBlurb}}</p>
            <p>{{award.AwardDate}}</p>
            <p>{{award.AwardDegree}}</p>
            <p>{{award.AwardDegreeLevel}}</p>
            <p>{{award.AwardBlurb}}</p>
          </md-card-content>
        </md-card>
        <md-card class="back">
          <md-card-header>
            <img class="image" src="http://ecms-award.aut.ac.nz/web/sponsorCarousel/{{award.SponsorLogo}}">
          </md-card-header>
          <md-card-content>
            <p>{{award.SponsorName}}</p>
            <p>{{award.AwardName}}</p>
            <p>{{award.AwardSponsorBlurb}}</p>
            <a href="{{award.SponsorLink | stripurl}}" target="_blank">{{award.SponsorLink | stripurl}}</a>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </masonry-brick>
</masonry>