.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.cards {
    flex: 0 1 25%;
    margin-bottom: 50px;
    align-content: center;
}
.image-container{
    width: 300px;
    min-height: 100px;
    max-width: 300px;
    margin: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}