.cardContainer {
	width: 100%;
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

.image-container {
	width: 300px;
	min-height: 560px;
	height:auto;
	background-color: white;
	box-shadow: #555 1px 1px 8px 1px;
	overflow: auto;
	margin: 30px;
	overflow-x: hidden;
	padding-bottom: 10px;
}

p {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0px;
}

p.student {
	font-family: 'Open Sans', sans-serif;
	margin-top: 15px;
	color: #F07D00;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}

p.award {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: black;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

p.blurb {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: black;
	font-size: 16px;
	text-align: center;
}

p.level {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: black;
	font-size: 14px;
	font-style: italic;
	text-align: center;
}

p.smallTitle {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: black;
	font-size: 14px;
	font-style: italic;
	text-align: center;
}

p.smallSponsor {
	font-family: 'Open Sans', sans-serif;
	margin-top: 0px;
	color: #F07D00;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.smallLogo {
	width: 90px;
	margin-top: 20px;
}

p.degree {
	font-family: 'Open Sans', sans-serif;
	margin-top: 0px;
	color: black;
	font-size: 16px;
	text-align: center;
}

p.sponsorTitle {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: #F07D00;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	font-style: italic;
}

a {
	color: #F07D00;
	font-size: 16px;
	font-weight: bold;
	font-style: oblique;
}

.mat-card {
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 0px;
}

.mat-card:not([class*=mat-elevation-z]) {
	box-shadow: none;
}

#card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
	
}

#card md-card {
	text-align: center;
	display: block;
	position: absolute;
	width: 100%;
	backface-visibility: hidden;
}

#card .back {
	background: white;
	height: auto;
	transform: rotateY( 180deg);
}

#card.flipped {
	height: auto;
	transform: rotateY( 180deg);
}

.frontImage {
	width: 300px;
}

.backImage {
	width: 226px;
	height: 150px;
	border: 1 solid #f07d00;
}

.flipButton {
	display:inline-block;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	width: 60px;
	background-color: #f07d00;
	color: white;
	border: 0;
}

.flipButton:hover {
	background-color: white;
	color: #f07d00;
	border: 1px solid #f07d00;
}

.titleHeader {
	text-align: center;
	position: relative;
}

#pageTitle {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 110px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #A97E37 4px 3px 0;
	position: relative;
}

#pageTitle:after {
	content: "Awards";
	position: absolute;
	left: 3px;
	top: 21px;
}

#pageTitle:after {
	background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
	background-size: 3px 3px;
	-webkit-background-clip: text;
	background-clip: test;
	-webkit-text-fill-color: transparent;
	z-index: -5;
	display: block;
	text-shadow: none;
}

.homepageButton {
	margin: 10px;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	background: #DBA449;
	
	padding: 10px 24px 10px 24px;
	border: solid #A97E37 2px;
	text-decoration: none;
}

.homepageButton:hover {
	background: #f07d00;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	border: solid #f07d00 2px;	
	text-decoration: none;
}


@media screen and (max-width: 426px){
	#pageTitle{
		font-size: 290%
	}
	#pageTitle:after {
		top: 11px;
		left: 3px;
	}
}

@media screen and (min-width: 426px) and (max-width: 769px){
	#pageTitle{
		font-size: 350%;
	}
	#pageTitle:after {
		top: 14px;
		left: 3px;
	}
}

@media screen and (max-width: 321px){
	.image-container {
		margin-left: -40px;
	}
}

@media screen and (max-width: 376px){
	.image-container {
		margin-left: -12px;
	}
}

@media screen and (max-width: 769px){
	.image-container {
		margin-left: 2px;
	}
}

@media screen and (max-width: 1025px){
	.image-container {
		margin-left: 5px;
		margin-right: 3px;
	}
}

@media screen and (max-width: 1441px){
	.image-container {
		margin-left: 22px;
		margin-right: 3px;
	}
}