#search-container{
    margin-top: 20%;
}
.search{
    height: 70px;
    max-height: 70px;
    font-size: 3.5em;
    
}
.avatar{
    margin-bottom: 7px;
    height: 40px;
    width: 40px;
}
.searchButton{
    background-color:green;
    color: #fff;
    margin-top: 20px;
}
.image-container{
    width: 270px;
    min-height: 400px;
    max-width: 300px;
    margin: 8px;
    border-radius: 2px;
    box-shadow: #555 1px 1px 8px 1px;
}
.results{
    padding: 8px;
    margin-bottom: 12px;
}
.forms{
    margin: 6px;
    padding: 10px;
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
}
.left{
    width: 50%;
    display: inline-block;
}
.right{
    width: 40%;
    display: inline-block;
}
.awardCard{
    margin:10%;
    align-content: center;
}
p{
    text-align: center;
}
#card {
    width: 250px;
    min-height: 380px;
    max-width: 300px;
    margin: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  #card md-card {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    min-height: 380px;
    backface-visibility: hidden;
  }
  #card .front {
    background: whitesmoke;
    min-height: 380px;
    
  }
  #card .back {
    background: white;
    min-height: 380px;
    transform: rotateY( 180deg );
  }
  #card.flipped {
    min-height: 380px;
    transform: rotateY( 180deg );
  }
  .image {
    
    width:auto;
    height: 150px;
}
section{
    height: 100px;
    width:100%;
}
.border{
    margin: 20px;
    border: 4px solid #eee;
    border-radius: 2px;
    box-shadow: #555 1px 1px 8px 1px;
}
