<div class="header">

  <div class="titleHeader">
    <br />
    <a id="pageTitle">Awards</a>
    <br />
    <button type="button" class="homepageButton" routerLink="../awards/search">Search Awards</button>
    <br />
  </div>

</div>

<masonry [useImagesLoaded]="false" class="cardContainer">
  <masonry-brick class="cards" *ngFor="let award of awards" class="image-container">
      <div id="card" [ngClass]="{'flipped': award.isflipped }">
        
        <!-- FRONT OF AWARD CARD -->
        <md-card class="front">
          <img class="frontImage" src="{{header | assetsAppendGeneral}}">
          <p class="student">{{award.StudentName}}</p>
          <div class="logoContainer">
            <a href="{{award.SponsorLink | stripurl}}" title="Visit Sponsor Website"> <img class="smallLogo" src="{{award.SponsorLogo | appendSponsor}}"> </a>
          </div>
          <p class="award">{{award.AwardDate}}&nbsp;{{award.AwardName}}</p>
          <p class="blurb">{{award.AwardBlurb}}</p>
          <div *ngIf="award.AwardDegreeLevel != 'Miscellaneous'">
            <p class="level">{{award.AwardDegreeLevel}}</p>
          </div>
          <div *ngIf="award.AwardDegree != 'Placeholder'">
            <p class="degree">{{award.AwardDegree}}</p>
          </div>
          <div align="center">
            <!-- <button type="button" class="flipButton" (click)="award.isflipped = !award.isflipped;"> Flip </button> -->
            <button type="button" class="flipButton" [routerLink]="['search/award', award.AwardId]"> View Award </button>
          </div>
        </md-card>
      </div>
  </masonry-brick>
</masonry>