<div class="header">

  <div class="titleHeader">
    <br />
    <a id="pageTitle">Awards</a>
    <br />
    <button type="button" class="homepageButton" routerLink="../awards/search">Search Awards</button>
    <br />
  </div>

</div>

<masonry [useImagesLoaded]="false" class="cardContainer">
  <masonry-brick class="cards" *ngFor="let award of awards" class="image-container">
      <div id="card" [ngClass]="{'flipped': award.isflipped }">
        <md-card class="front">
          <img class="frontImage" src="{{header | assetsAppendGeneral}}">
          <p class="student">{{award.StudentName}}</p>
          <p class="award">{{award.AwardDate}}&nbsp;{{award.AwardName}}</p>
          <p class="blurb">{{award.AwardBlurb}}</p>
          <p class="level">{{award.AwardDegreeLevel}}</p>
          <p class="degree">{{award.AwardDegree}}</p>

          <!-- <p class="smallTitle">Sponsored By: </p> -->
          <!-- <p class="smallSponsor">{{award.SponsorName}}</p> -->
          <img class="smallLogo" src="{{award.SponsorLogo | appendSponsor}}">

          <div align="center">
            <button type="button" class="flipButton" (click)="award.isflipped = !award.isflipped;"> Flip </button>
            <button type="button" class="flipButton" [routerLink]="['search/award', award.AwardId]"> View </button>
          </div>
        </md-card>
        <md-card class="back">
          <p class="sponsorTitle">Sponsored By:</p>
          <img class="backImage" src="{{award.SponsorLogo | appendSponsor}}">
          <p class="student">{{award.SponsorName}}</p>
          <p class="award">{{award.AwardName}}</p>
          <p class="blurb">{{award.AwardSponsorBlurb}}</p>
          <a href="{{award.SponsorLink | stripurl}}">{{award.SponsorLink | stripurl}}</a>
          <div align="center">
            <button type="button" class="flipButton" (click)="award.isflipped = !award.isflipped;"> Flip </button>
            <button type="button" class="flipButton" [routerLink]="['search/award', award.AwardId]"> View </button>
          </div>
        </md-card>
      </div>
  </masonry-brick>
</masonry>