<div class="border">
  <md-radio-group layout="row" [(ngModel)]="selected" style="margin:10px 10px;">
    <md-radio-button [value]=0 (change)="test(0,'StudentName')"  class="md-primary">Student Name</md-radio-button>
    <md-radio-button [value]=1 (change)="test(1,'AwardName')">Award Name</md-radio-button>
    <md-radio-button [value]=2 (change)="test(2,'DegreeLevel')">Degree Level</md-radio-button>
    <md-radio-button [value]=3 (change)="test(3,'Degree')">Degree</md-radio-button>
    <md-radio-button [value]=4 (change)="test(4,'Date')">Year</md-radio-button>
    <md-radio-button [value]=5 (change)="test(5,'Sponsor')">Sponsor</md-radio-button>
  </md-radio-group>
  <div class="form-group">
    <label for="formGroupExampleInput" style="margin:10px;">Search</label>
    <input type="text" style="width:50%;margin-top:20px;" placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="newSearch(searchTerm)">
  </div>
</div>
<div [class.border]="showResults">
  <table class="table thead-inverse">
    <thead>
      <tr>
        <th>Award Id</th>
        <th>Award Name</th>
        <th>Student Name</th>
        <th>Award Date</th>
        <th>Sponsor</th>
        <th>Degree Level</th>
        <th>Degree</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results | async">
        <td>{{result.AwardId}} </td>
        <td>{{result.AwardName}} </td>
        <td>{{result.StudentName}} </td>
        <td>{{result.AwardDate}} </td>
        <td>{{result.SponsorName}} </td>
        <td>{{result.AwardDegreeLevel}} </td>
        <td>{{result.AwardDegree}} </td>
        <td><a target="_blank" [routerLink]="['award', result.AwardId]">View</a></td>
      </tr>
    </tbody>
  </table>
</div>
