<div class="header">
  
    <div class="titleHeader">
      <br />
      <a id="pageTitle">Search</a>
      <br />
      <button type="button" class="homepageButton" (click)="openSearch()">Detailed Search</button>
      <button type="button" class="homepageButton" (click)="openFilter()">Filter Search</button>
      <br />
    </div>
    
</div>
<div [@dropdown] *ngIf="wordSearch">
  <app-word-search></app-word-search>
</div>
<div [@dropdown] *ngIf="filterSearch">
  <div class="buttonGroup">
    <button class="homepageButton" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
    <button class="homepageButton" [class.active]="filterBy=='Certificate'" (click)="filterBy='Certificate'">Certificate</button>
    <button class="homepageButton" [class.active]="filterBy=='Undergraduate'" (click)="filterBy='Undergraduate'">Under-graduate</button>
    <button class="homepageButton" [class.active]="filterBy=='Postgraduate'" (click)="filterBy='Postgraduate'">Post-graduate</button>
    <button class="homepageButton" [class.active]="filterBy=='PhD'" (click)="filterBy='PhD'">Doctorate</button>
  </div>
</div>
<div [@dropdown] *ngIf="hideCards">
<div class="row">
  <ul id="thumbnailsList">
    <li  *ngFor="let award of (visableAwards | awardAwardDegreeLevelFilter:filterBy)">
      <a [routerLink]="['award', award.AwardId]">
        <div class="card lo" style="width: 20rem;" >  
          <img class="card-img-top" src="{{award.SponsorLogo | appendSponsor}}" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="text-align:center;">{{award.AwardName}}</h4> <!--working-->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="width:310px;text-align:center;">{{award.StudentName}}</li> <!--not working -->
            <li class="list-group-item" style="width:310px;text-align:center;">{{award.AwardDate}}</li>  <!--working-->
            <li class="list-group-item" style="width:310px;text-align:center;">{{award.AwardDegreeLevel}}</li> <!--working-->
            <li class="list-group-item" style="width:310px;text-align:center;">{{award.AwardDegree}}</li> <!--working-->
          </ul>
          <div class="card-footer" style="text-align:center;">
            <small class="text-muted" >ECMS Award</small>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
</div>