<div class="border">
    <button class="btn btn-lg btn-success" routerLink="">Home</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='Certificate'" (click)="filterBy='Certificate'">Certificate</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='Undergraduate'" (click)="filterBy='Undergraduate'">Under-graduate</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='Postgraduate'" (click)="filterBy='Postgraduate'">Post-graduate</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='PhD'" (click)="filterBy='PhD'">Doctorate</button>
    <h1 style="text-align:center;">{{title}}</h1>
</div>


<div class="row">
  <ul id="thumbnailsList">
    <li  *ngFor="let award of (visableAwards | awardAwardDegreeLevelFilter:filterBy)">
      <a [routerLink]="['award', award.AwardId]">
        <div class="card lo" style="width: 20rem;" >  
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="text-align:center;">{{award.AwardName}}</h4> <!--working-->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="width:310px;text-align:center;">{{award.StudentName}}</li> <!--not working -->
            <li class="list-group-item" style="width:310px;text-align:center;">{{award.AwardDate}}</li>  <!--working-->
            <li class="list-group-item" style="width:310px;text-align:center;">{{award.AwardDegreeLevel}}</li> <!--working-->
            <li class="list-group-item" style="width:310px;text-align:center;">{{award.AwardDegree}}</li> <!--working-->
          </ul>
          <div class="card-footer" style="text-align:center;">
            <small class="text-muted" >ECMS Award</small>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>    
<!--  awardBlub: string;
  awardDate: string;
  awardDegree:string;
  awardDegreeLevel:string;
  awardId: number;
  awardName: string;
  sponsorLink: string;
  sponsorLogo: string;
  sponsorName: string;
  studentName: string;
  awardSponsorBlurb: string;-->


      <!--
      <div class="tn" style="width: 20rem;">

      </div>  
    </li>
  </ul>  
</div>-->
