
<section class="container"  (mousedown)="onmouse($event)" (mouseup)="offmouse()" (mouseenter)="stopswivel()" (mouseleave)="startswivel()" (mousemove)="coordinates($event)">
  <div id="carousel">
    <img id='cbx' src="../../assets/images/one.jpg" alt="no pic">
    <img id='cbx' src="../../assets/images/two.jpg" alt="no pic">
    <img id='cbx' src="../../assets/images/three.jpg" alt="no pic">
    <img id='cbx' src="../../assets/images/four.jpg" alt="no pic">
    <img id='cbx' src="../../assets/images/five.jpg" alt="no pic">
    <img id='cbx' src="../../assets/images/six.jpg" alt="no pic">
    <img id='cbx' src="../../assets/images/seven.jpg" alt="no pic">
    <img id='cbx' src="../../assets/images/eight.jpg" alt="no pic">
    <img id='cbx' src="../../assets/images/nine.png" alt="no pic">
  </div>
</section>




