<div class="header">

    <div class="titleHeader">
        <br />
        <a id="pageTitle">Sponsors</a>
        <br />
        <button type="button" class="homepageButton" routerLink="enquiry">Enquire Here</button>
        <br />
      </div>

</div>

<masonry [useImagesLoaded]="false" class="cardContainer">
  <masonry-brick class="cards" *ngFor="let sponsor of sponsors" class="image-container">
      <div id="card">
        <md-card class="front">
          <md-card-header>
            <img class="frontImage" src="{{sponsor.SponsorLogo | appendSponsor}}">
          </md-card-header>
          <md-card-content>
            <p class="name">{{sponsor.SponsorName}}</p>
            <p class="blurb">{{sponsor.SponsorBlurb}}</p>
            <a href="{{sponsor.SponsorLink | stripurl}}">Visit Website</a>
          </md-card-content>
        </md-card>
      </div>
  </masonry-brick>
</masonry>
