<div class="border">
  <button class="btn btn-lg btn-success" routerLink="enquiry">Sponsor Inquiry</button>
  <h1 style="text-align:center;">ECMS Sponsors</h1>
</div>

<br/>
<div class="border">

<div class="card-deck danger">
  <div *ngFor="let sponsor of sponsors">
    <div *ngIf="sponsor.SponsorName != 'Placeholder'">
      <div class="card">
        <img class="card-img-top"  src="{{sponsor.SponsorLogo | appendSponsor}}" alt="Card image cap">
        <div class="card-block">
          <div class="card-header">
            <h4 class="card-title">{{sponsor.SponsorName}}</h4>
          </div>
          <p class="card-text">{{sponsor.SponsorBlurb}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="{{sponsor.SponsorLink}}">{{sponsor.SponsorLink | stripurl}}</a></small>
        </div>
      </div>
    </div>  
  </div>
</div>
</div>