.cardContainer {
	width: 100%;
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

.image-container {
	width: 300px;
	min-height: 560px;
	height:auto;
	background-color: white;
	box-shadow: #555 1px 1px 8px 1px;
	overflow: auto;
	margin: 30px;
	overflow-x: hidden;
	padding-bottom: 10px;
}

p {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

p.name {
	font-family: 'Open Sans', sans-serif;
	margin-top: 0px;
	color: #F07D00;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}

p.blurb {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	color: black;
	font-size: 16px;
	text-align: center;
}

a {
	color: #F07D00;
	font-size: 16px;
	font-weight: bold;
	font-style: oblique;
}

.mat-card {
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 0px;
}

.mat-card:not([class*=mat-elevation-z]) {
	box-shadow: none;
}

#card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#card md-card {
	text-align: center;
	display: block;
	position: absolute;
	width: 100%;
}

#card md-card-header {
	display: block;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
	width: 100%;
}

#card md-card-content {
	text-align: center;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.frontImage {
	width: 226px;
	height: 150px;
}

.titleHeader {
	text-align: center;
	position: relative;
}

#pageTitle {
	font-family: 'Open Sans', sans-serif;
	color: #DBA449;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 110px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #A97E37 4px 3px 0;
	position: relative;
}

.homepageButton {
	margin: 10px;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	background: #DBA449;
	padding: 10px 24px 10px 24px;
	border: solid #A97E37 2px;
	text-decoration: none;
}

.homepageButton:hover {
	background: #f07d00;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	border: solid #f07d00 2px;
	text-decoration: none;
}

@media screen and (max-width: 426px){
	#pageTitle{
		font-size: 290%
	}
	#pageTitle:after {
		top: 11px;
		left: 3px;
	}
}

@media screen and (min-width: 426px) and (max-width: 769px){
	#pageTitle{
		font-size: 350%;
	}
	#pageTitle:after {
		top: 14px;
		left: 3px;
	}
}

@media screen and (max-width: 321px){
	.card{
		width: 277px;
		margin-bottom: 10px;
	}
	.card .card-img-top{
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 23px;
	}
	.cardContainer {
		padding-right: 0;
		padding-left: 0;
	}
	.image-container {
		margin-left: 10px;
	}
}

@media screen and (max-width: 376px){
	.image-container {
		margin-left: -12px;
	}
}

@media screen and (max-width: 769px){
	.image-container {
		margin-left: 4px;
	}
}

@media screen and (max-width: 1025px){
	.image-container {
		margin-left: 5px;
		margin-right: 0px;
	}
}

@media screen and (max-width: 1441px){
	.image-container {
		margin-left: 10px;
		margin-right: 24px;
	}
}