.card{
    width:353px;
    max-height:380px;
    overflow: scroll;
}

.border{
    margin: 20px;
    border: 2px solid #eee;
    border-radius: 2px;
    box-shadow: #555 1px 1px 8px 1px;
}

button{
    margin:10px;
}

.card-deck .danger{
    padding-left: 10%;
}
.card-img-top{
    width:318px;
    height:100;
    margin-left:20px;
    margin: 20px;
}